@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2,h4{
    background-color: white;
    color: black;
    
}
h1{
    font-size: 66px;
    
}
h2{
    font-size: 197px;
}
h3{
    font-size: 217px;
}
h4{
    font-size: 60px;
}
h5{
    font-size: 58px;
    font-weight: 600;
}
a{
    font-weight: 600;
}